*{
    position: absolute;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
}
.bg{

    z-index: -1;
}
#left-side{
    width:250px;
    height: 400px;
    background-color: #E09151;
    border: #000 3px solid;
    position: absolute;
    left: 0;
    top:200px;
    z-index: 100;
}
p {
    white-space: normal;
    position: static;
}

#close{
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}