* {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
  }
body{
    background-image: url("internet\ bg.png");

}

#gif1{
    position: absolute;
    top: 10%;
    left: 10%;
    height: 20vh;
    width: 15vw;
    border: 3px solid black;
}

#gif2{
    position: absolute;
    top: 27%;
    left: 75%;
    height: 20vh;
    width: 20vw;
    border: 3px solid black;
}

#gif3{
    position: absolute;
    top: 70%;
    left: 15%;
    height: 20vh;
    border: 3px solid black;
}

.internet{
    background-image: url("background.jpg");
    height: 90vh;
    width: 60vw;
    border:3px solid black;
}

#close{
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    position: relative;
    left:47%
}

.dance{
animation-name: dance;
animation-duration: 2s;
animation-iteration-count: infinite;
}

@keyframes dance {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
    
}